<!DOCTYPE html>
    <head>
        <title>
            {{ title }}
        </title>

        <style type="text/css">
            .lift {
                border-style: none;
                border-radius: 3px;
                position: absolute;
                background: rgba(0, 0, 255, 0.3);
            }
        </style>

        {% for item in ['bootstrap/css/bootstrap.css', 'css/flat-ui.css'] %}
            <link href="static/Flat-UI/{{ item }}" rel="stylesheet" />
        {% end %}
    </head>

    <body>
        <div id='wrapper'>
            <canvas id='canvas'>
                Canvas not supported
            </canvas>
        </div>

        <div id='config'>
            {% for item in [
                {'id': 'rows', 'default': 5},
                {'id': 'columns', 'default': 5},
                {'id': 'depotRows', 'default': 5},
                {'id': 'depotColumns', 'default': 5},
                {'id': 'maxStacks', 'default': 6},
                ] %}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{{ item['id'] }}</span>
                        <input id="{{ item['id'] }}" type="text" class="form-control" placeholder="{{ item['id'] }}" value={{ item['default'] }} />
                    </div>
                </div>
            {% end %}

            <button id="set" class="btn btn-embossed btn-primary">
                set
            </button>
        </div>

        <div id='data'>
            <textarea id="instructions" rows="50" cols="200"> </textarea>
        </div>

        {% for item in [
            'jquery-1.8.3.min.js',
            'jquery-ui-1.10.3.custom.min.js',
            'jquery.ui.touch-punch.min.js',
            'bootstrap.min.js',
            'bootstrap-select.js',
            'bootstrap-switch.js',
            'flatui-checkbox.js',
            'flatui-radio.js',
            'jquery.tagsinput.js',
            'jquery.placeholder.js',
            ] %}
            <script src="static/Flat-UI/js/{{ item }}"> </script>
        {% end %}

        {% for item in [
            'CascadeView.js',
            'view.js',
            'lift.js',
            'depot.js',
            'updater.js',
            'instructions.js',
            'main.js',
            ] %}
            <script src="{{ static_url('scripts/' + item) }}"> </script>
        {% end %}
    </body>
</html>
