<!DOCTYPE html>
    <head>
        <title>
            {{ title }}
        </title>

        <style>
            #canvas {
                margin: 0px;
                background: #ffffff;
            }
        </style>

        {{ style }}
    </head>

    <body>
        <div id='wrapper'>
            <canvas id='canvas'>
                Canvas not supported
            </canvas>

            <div id='config'>
                <input type="text" placeholder="???" class="form-control input-lg" />
            </div>

        </div>

        {{ js }}
    </body>
</html>
